body
{
	padding: 0px;  
	margin: 0px;
}
html
{
	scroll-behavior: smooth; 
}
/*---------------------------------------------- Pageloader Area -----------------------------------------------------*/

.no-js #loader { display: none;  }
.js #loader { display: block; position: absolute; left: 100px; top: 0; }
.se-pre-con {
	position: fixed;
	left: 0px; 
	top: 0px;
	width: 100%;
	height: 100%;
	z-index: 9999;
	background: url("images/loding.gif") center no-repeat #fff;
}
/*---------------------------------------------- Navbar Area -----------------------------------------------------*/
.navbar
{
	padding: 10px;
}

.navbar-nav li
{
	font-family: 'Muli', sans-serif;
	margin-left: 50px;
}
.navbar-nav li a
{
	color: black!important;
	font-size: 15px;
	font-weight: bolder;
}
.nav-link 
{ 
	font-family: 'Rancho' ;
	font-family: 'Josefin Sans' ;
	transition: .5s;
}
.nav-link:hover
{
	background-color: #f5f8fd;
	border-radius: 5px;
}

.navbar-toggler
{
	background-color: #f5f8fd;
	color: black;	
}
.navbar-collapse
{

}
#nav-brands
{
	font-size: 30px;
	padding: 0px;
	font-family: 'Rancho' ;
	font-family: 'Josefin Sans';
    margin-top: 5px;
    color: black;
}
#collapsibleNavbar
{
	text-align: center;
}
@media only screen and (max-width: 700px)
{
	.navbar{
		padding: 20px;
	}
	#nav-brands
	{
		font-size: 20px;
		margin-left: -30px;
	}
	.navbar-nav li
	{
		margin-left: 0;
		padding: 0px;
	}
	.navbar-toggler-icon
	{	
		width: 20px;
	}
}
/*---------------------------------------------- Banner Area -----------------------------------------------------*/
.banner-text-p
{
	font-size: 25px;
	color: #adb5bd;
}
.btn
{
	margin-top: 20px;
	font-size: 20px;
	font-weight: 600;
	padding: 10px;
}
.banner-title h2
{
	margin-top: 120px;
	font-size: 60px;
}
.banner-img
{
	margin-top:  70px;
	margin-bottom: 100px;
}
.element
{
	color: blue;
}
.banner-text
{
	font-family: 'Muli', sans-serif;
	font-weight: 100;
}
@media only screen and (max-width: 700px)
{
	.banner-title h2
{
	margin-top: 50px;
}
	.banner-text
	{
		font-size: 30px!important;
	}
	.banner-text-p
	{
		font-size: 15px;
	}
	.banner-btn{
		font-size: 20px;
	}
}
/*---------------------------------------------- About Area -----------------------------------------------------*/
.about-back
{
	background-color: #f5f8fd;
}
.about-img
{
	height: 600px;
	width: 500px;
	transition: 1s;
	margin: 20px;
	border-radius: 20px;
}
.about-p i
{
	font-size: 30px;
	color: blue;
	padding: 20px;
}
.about-p h6
{
	line-height: 20px;
	font-size: 20px;
}
.about-img:hover
{
	-moz-transform: translate(1px, -20px);
-webkit-transform: translate(1px, -20px);
-o-transform: translate(1px, -20px);
-ms-transform: translate(1px, -20px);
transform: translate(1px, -20px)!important;

}
.about-h1 h4
{
	font-family: 'Montserrat', sans-serif;
	font-size: 30px;
	color: blue;
	margin-bottom: 40px;
	text-align: center;
	padding: 20px;
}
@media only screen and (max-width: 700px)
{
	.about-h1 h4{
		font-size: 26px;
		margin-bottom: 0px;
	}
	.about-img-1
	{
		height: 450px;
		width: 300px;
	}
	.about-img
	{
		height: 400px;
	}
	.about-h1
	{
		text-align: center;
	}
	.about-p h6 {
		font-size: 15px;
		line-height: 35px;
	}
	.about-p h6 i{
		font-size: 18px;
		padding: 8px;
	}
}

/*---------------------------------------------- Services Area -----------------------------------------------------*/
.services
{
	background-size: cover;
	background-repeat: no-repeat;
}
.services  h1
{
	font-family: 'Montserrat', sans-serif;
	font-size: 35px;
}
.title-service::before
{
	content: "";
	background: blue;
	height: 5px;
	width: 200px;
	margin-left: auto;
	margin-right: auto;
	display: block;
	transform: translateY(63px);
}
.card
{
 	margin-top: 100px;
}
.cd1 
{
	background-color: #30336b;
	color: white;
	cursor: pointer;
	padding: 10px;
	margin-bottom: 20%;
	transition: .5s!important;
}

.cd1:hover
{
	background-color: #130f40;
	-moz-transform: translate(1px, -20px);
	-webkit-transform: translate(1px, -20px);
	-o-transform: translate(1px, -20px);
	-ms-transform: translate(1px, -20px);
	transform: translate(1px, -20px)!important;
}
.cd2
{
	background-color: #4b7bec;
	color: white;
	cursor: pointer;
	padding: 10px;
	border-radius: 5px;
	margin-bottom: 20%;
	transition: .5s!important;
}
.cd2:hover
{
	background-color: #3867d6;
	-moz-transform: translate(1px, -20px);
	-webkit-transform: translate(1px, -20px);
	-o-transform: translate(1px, -20px);
	-ms-transform: translate(1px, -20px);
	transform: translate(1px, -20px)!important;
}
.cd3
{
	background-color: #fc5c65;
	color: white;
	cursor: pointer;
	padding: 10px;
	margin-bottom: 30%;
	transition: .5s!important;
}
.cd3:hover
{
	background-color: #eb3b5a;
	-moz-transform: translate(1px, -20px);
	-webkit-transform: translate(1px, -20px);
	-o-transform: translate(1px, -20px);
	-ms-transform: translate(1px, -20px);
	transform: translate(1px, -20px)!important;
}
.services .icon
{
	font-size: 60px;
	text-align: center;
	color: #f5f8fd;
}
@media only screen and (max-width: 700px)
{	
	.card
{
 	margin-top: 30px;
}
.cd1 
{
	padding: 0;
	margin-bottom: 20%;
}
.cd2 
{
	padding: 0;
	margin-bottom: 20%;
}
.cd3 
{
	padding: 0;
	margin-bottom: 20%;
}
	.title-service::before
{
	height: 3px;
	width: 130px;
	transform: translateY(50px);
}
	.services  h1
{
	font-size: 26px;
}
	.title-service
	{
		font-size: 30px;	
	}
}
/*---------------------------------------------- why choose Area -----------------------------------------------------*/

.portfolio
{
	background-color: #f5f8fd;
	padding: 20px;	
	border-radius: 2%;
}

.why
{
	padding: 30px;
	font-size: 30px;
	font-family: 'Montserrat', sans-serif;
}
.why::before
{
	content: "";
	width: 300px;
	height: 5px;
	margin-left: auto;
	margin-right: auto;
	background: blue;
	display: block;
	transform: translateY(63px);
}
.why-content h4
{
	font-weight: 900;
	color: blue;
	font-family: 'Cabin', sans-serif;
	margin-left: 0px;
}
.why-content p
{
	margin-left: 20px;
	font-family: 'Raleway', sans-serif;
	font-weight: 600;
	margin-top: 20px;
	line-height: 30px;
}

.why-content span
{
	font-size: 40px;
	padding-right: 20px;
	color: #377dff;
	line-height: 20px;
}
.why-img
{
	text-align: center;
	margin-top: 10px;
	transition: .5s!important;
}
.why-img :hover
{
	transform: translate(1px, -10px)!important;
	box-shadow: 10px 32px 35px -33px rgba(0,0,0,0.75);
}
.why-img img
{
	border-radius: 5%;
	height: 500px;
	width: 350px;
	
}
@media only screen and (max-width: 700px)
{
	
	.why
	{
		font-size: 23px;	
		padding: 20px;

	}
	.why::before
	{
		content: "";
		width: 200px;
		height: 3px;
		margin-left: auto;
		margin-right: auto;
		background: blue;
		display: block;
		transform: translateY(50px);
	}
	.why-content h4
	{
		font-weight: 900;
		color: blue;
		font-family: 'Cabin', sans-serif;
	}
	.why-content p
	{
		font-size: 15px;
		margin-left: 0px;
		font-family: 'Cabin', sans-serif;
		margin-top: 20px;
		line-height: 35px;
	}
	.why-content span
	{
		font-size: 22px;
	}
}
/*---------------------------------------------- Our team Area -----------------------------------------------------*/
.our-team-title::before
{
	content: "";
	width: 150px;
	height: 5px;
	margin-left: auto;
	margin-right: auto;
	background: blue;
	display: block;
	transform: translateY(63px);
}
.our-team-txt h2
{
	font-family: 'Montserrat', sans-serif;
	padding-bottom: 10%;	
}
.person1 img
{
	height: 300px;
	box-shadow: 7px 6px 46px -26px rgba(0,0,0,0.75);
	border-radius: 10%;
}
.pserson1 img:hover
{

}
.person1 h6
{
	font-size: 30px;
	padding-top: 20px;
	font-family: 'Josefin Sans', sans-serif;
}
.person1 p
{
	padding: 0px;
	font-size: 20px;
	font-family: 'Josefin Sans', sans-serif;
}
.icons-team
{
	text-align: center;
}
.icons-team a
{
	margin-bottom: 20px;
	padding: 10px;
	margin-left: 20px;
	border-radius: 10%;
	background-color: #30336b;
}
.icons-team a:hover
{
	transform: scale(1.4);
	transition: .5s;
}

@media  only screen and (max-width: 700px)
{
	.our-team-title::before
	{	
		content: "";
		width: 100px;
		height: 5px;
		margin-left: auto;
		margin-right: auto;
		background: blue;
		display: block;
		transform: translateY(50px);
	}
}
/*---------------------------------------------- Contacts Area -----------------------------------------------------*/

.contacts
{
	font-family: 'Roboto Condensed', sans-serif;
	background-color: #21325b;
	padding-top: 100px;
}
.contact-address a
{
	color: white;
}
.container a
{
	color: white;
	text-decoration-line: none;
}
.container h3
{
	font-size: 20px;
	color: white;
}
.contact-address i
{
	font-size: 30px;
	color: #adb5bd;
	padding: 5px;
}
.contact-address
{
	margin-top: 10px;
}
.company
{
	margin-top: 10px;
}
.features
{
	margin-top: 10px;
}

.dcoumentations
{
	margin-top: 10px;
}
.company a ,.features a,.dcoumentations a
{
	color: #adb5bd;
	padding: 20%;
}
.hr
{
	background-color: white!important;
}
.icons a
{
	padding: 20px;
	font-size: 30px;
	
}
.icons a:hover
{
	transform: scale(1.4);
	transition: .5s;
}
.copyright h3
{
	font-size: 15px;
	color: #adb5bd;
}
@media(max-width: 700px){
	.contact-address{
		text-align: center;
	}
	.contact-address i{
		font-size: 18px;
	}
	.contact-address p{
		font-size: 20px;
	}
	.col-md-3{
		position: relative;
    width: 50%;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
	}
	.company h3{
		font-size: 18px;
	}
	.company a ,
	.features a,
	.dcoumentations a{
	color: #adb5bd;
	padding: 0;
	}
	.icons{
		text-align: center !important;
	}
}